{
    "useTabs": true,
    "tabWidth": 6,
    "trailingComma": "es5",
    "overrides": [
      {
        "files": "*.yml",
        "options": {
          "tabWidth": 2,
          "useTabs": false
        }
      }
    ]
  }