@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121A21;
  background-color: #18222a;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  /* background-color: #0e141a; */
}
h2 {
  margin: 0;
}
p {
  font-weight: lighter;
  line-height: 2rem;
  margin: 0;

}
@media screen and (max-width: 1370px) {
 p{
  line-height: 1.5rem;
 } 
}
a{
  color: white;
  text-decoration: none;
}

.MuiSvgIcon-fontSizeSmall{
  font-size: 3rem;
}
